
.div-principal-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  filter: blur(10px);
  opacity: 0;
  transition: filter 0.2s ease, opacity 0.2s ease;
 }
.div-principal-home.show{
    filter: blur(0);
    opacity: 1;
    transition: filter 0.2s ease, opacity 0.2s ease;
}
input{
  padding: 10px;
  border-radius: 8px;
  background-color: aliceblue;
  border:  none;
  color: rgb(95, 95, 255);
  font-size: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

input::placeholder{
  color: rgb(116, 163, 163);
  font-size: 17px;

}
textarea{
  padding: 5px;
  width: 100%;
}
